<div class="card">

    <div class="card-header">
        <h5 class="card-title">
            {{ ucfirst(type) }} Details
        </h5>
    </div>

    <div class="table-responsive">
        <table class="table table-borderless">
            {% for label, attribute in attributes %}

                {% set value = value(attribute, entry) %}

                <tr>
                    <th>{{ label }}</th>
                    <td>
                        {% set original = attribute is iterable ? attribute.value : attribute %}
                        {% set original = original is iterable ? null : original %}

                        {% set value = value(attribute, entry) %}

                        {% if str_contains(original, ['print_r', 'var_export', 'var_dump']) %}
                            <pre class="language-{{ attribute.language ?: 'php' }}"><code>{{ value|raw }}</code></pre>
                        {% else %}
                            {{ value|raw }}
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>

</div>
